.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1100;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  visibility: hidden;

  &--opened {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;

    .modal__backdrop {
      opacity: 0.9;
    }
  }
}

.modal__backdrop {
  background-color: var(--secondary-dark);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s $easing;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 623px;
  height: fit-content;
  background-color: var(--gray-100);
  border-radius: 10px;

  &--full-height {
    height: 90vh;
    overflow: hidden;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-300);
}

.modal__title {
  @include heading-m-h3;
  color: var(--secondary-dark);
}

.modal__close-btn {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  z-index: 100;
}

.modal__close-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--secondary-dark);

  &:first-child {
    transform: rotate(45deg);
  }

  &:last-child {
    transform: rotate(-45deg);
  }
}

.modal__container {
  position: relative;
  width: 100%;
  height: calc(100% - 77px);
  padding: 16px;
  padding-top: 0;
  overflow-y: auto;
}
