.broker-type-accounts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 25px;
}

.broker-type-accounts__modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;
}

.broker-type-accounts__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 32px;
}
